@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  scroll-behavior: smooth;
}

/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
/* Firefox 64 and earlier versions */
* {
  scrollbar-width: none;
}

/* Firefox 65+ */
* {
  scrollbar-color: transparent transparent;
}

h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.my-btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.my-btn-light {
  background: transparent;
  color: #fff;
}

.my-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
}