/* Container Styling */
.container {
    width: 60%;
}

/* Progress Bar Titles */
.progress-title {
    font-size: 19px;
    font-weight: 700;
    color: white;
    margin: 0 0 10px 0;
}

/* Progress Bar Container */
.progress {
    height: 20px;
    line-height: 15px;
    border-radius: 20px;
    background: #f0f0f0;
    margin-bottom: 30px;
    box-shadow: none;
    overflow: visible;
}

/* Progress Fill */
.progress .progress-bar {
    position: relative;
    border-radius: 20px 0 0 20px;
    animation: animate-positive 2s;
}

/* Progress Value (Text Inside Bar) */
.progress .progress-value {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #fff;
    position: absolute;
    right: 8px;
}

/* Skill-Specific Colors */

.linux {
    background-color: #179b1b !important; 
}

.docker {
    background-color: #0db7ed !important;
}

.jenkins {
    background-color: #d33833 !important;
}

.owasp {
    background-color: #102f66 !important; 
}

.sonarqube {
    background-color: #4e9bee !important; 
}

.trivy {
    background-color: #c21325 !important;
}

.kubernetes {
    background-color: #316ce6 !important; 
}

.argocd {
    background-color: #ef4b6c !important; 
}

.prometheus {
    background-color: #e6522c !important; 
}

.grafana {
    background-color: #F46800 !important;
}

.aws {
    background-color: #ff9900 !important;
}

.gcp {
    background-color: #4285f4 !important; 
}

.git {
    background-color: #f34f29 !important;
}

.jira {
    background-color: #0052cc !important;
}

.groovy {
    background-color: #673ab7 !important; 
}

.shell {
    background-color: #2c3e50 !important;
}

.html {
    background-color: #e34f26 !important; 
}

.css {
    background-color: #264de4 !important;
}

.javascript {
    background-color: #f7df1e !important; 
}

.tailwind-css {
    background-color: #38b2ac !important; 
}

.bootstrap {
    background-color: #7952b3 !important; 
}

.react-js {
    background-color: #61dafb !important; 
}

.express-js {
    background-color: #404040 !important;
}

.node-js {
    background-color: #68a063 !important; 
}

.mongo-db {
    background-color: #4db33d !important; 
}

.mysql {
    background-color: #00758f !important; 
}


/* Animation */
@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

/* Responsive Design */
@media screen and (max-width:740px) {
    .container {
        width: 100%;
    }
}
